__pycache__/
.pytest_cache
.coverage*
.coverage-reports/
.DS_Store
.venv
artifacts/
coverage-reports/
tools/
venv
**/*.mpy

# libs
src/*/lib/*
!src/*/lib/requirements.txt
!src/flight-software/lib/proveskit_rp2350_v5b/
